<mat-card>
  <mat-card-header>
    <mat-card-title style="display: flex">
      <mat-icon><i class="material-icons">local_airport</i></mat-icon><span style="margin: auto">&nbsp;Airports</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ngx-datatable
      class="material"
      [rows]="airports$ | async"
      [columns]="columns"
      [columnMode]="'force'"
      [sortType]="'single'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="8">
    </ngx-datatable>
  </mat-card-content>
</mat-card>
