<div class="rootContainer" *ngIf="car.id !== -1">
  <p-panel>
    <ng-template #header>
      <div style="display: flex">
        <i class="material-icons">directions_car</i>
        <span style="margin-top: auto; margin-bottom: auto">Car Details</span>
      </div>
    </ng-template>
    <form>
      <div style="display: grid; grid-template-columns: 150px 1fr; gap: 8px 16px; align-items: center; margin: 10px 0">
        <label>ID :</label>
        <input pInputText type="text" placeholder="ID" readOnly="true" [value]="car.id" style="width: 50px">
        <label>Model :</label>
        <input pInputText type="text" placeholder="Model" readOnly="true" [value]="car.model" style="width: 150px">
        <label>Manufacturer :</label>
        <input pInputText type="text" placeholder="Manufacturer" readOnly="true" [value]="car.manufacturer" style="width: 200px">
        <label>Price :</label>
        <input pInputText type="text" placeholder="Price" readOnly="true" [value]="car.price" style="width: 100px">
        <label>Wiki :</label>
        <a href="{{car.wiki}}">Wiki</a>
        <label>Image :</label>
        <img src="api/{{car.image}}">
      </div>
    </form>
  </p-panel>
</div>
